In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Datasets/Instant Raw Report (11).xlsx')

In [3]:
data.columns

Index(['CCMS ID', 'Timestamp', 'Active Power kW', 'Apparent Power kVA',
       'Current R (A)', 'Current Y (A)', 'Current B (A)', 'Voltage R (V)',
       'Voltage Y (V)', 'Voltage B (V)', 'Total PF', 'Frequency (Hz)',
       'MD kVA', 'MD kW', 'Load Relay Status R', 'Load Relay Status Y',
       'Load Relay Status B', 'R Phase kW', 'Y Phase kW', 'B Phase kW',
       'Active Mode', 'Total Active Energy', 'Total Apparent Energy',
       'Current Day kWh', 'Current Day kVAh', 'Power On Time(Hrs)',
       'Relay on Time(Hrs)', 'Current Day Meter on Period',
       'Current Day Relay on Period'],
      dtype='object')

In [4]:
data.head()

,CCMS ID,Timestamp,Active Power kW,Apparent Power kVA,Current R (A),Current Y (A),Current B (A),Voltage R (V),Voltage Y (V),Voltage B (V),...,B Phase kW,Active Mode,Total Active Energy,Total Apparent Energy,Current Day kWh,Current Day kVAh,Power On Time(Hrs),Relay on Time(Hrs),Current Day Meter on Period,Current Day Relay on Period
0,SMR03-0219-0252,2019-05-01 23:44:42,5.11,5.15,10.66,5.47,5.85,233.48,234.57,235.40,...,1.36,AUTO,7329.234,7372.664,49.204,49.591,1615:42:7,791:3:44,22:47:44,9:38:30
1,SMR03-0219-0252,2019-05-01 23:29:04,5.11,5.14,10.65,5.48,5.83,233.56,234.34,235.45,...,1.35,AUTO,7327.901,7371.322,47.871,48.249,1615:26:31,790:48:8,22:32:8,9:22:54
2,SMR03-0219-0252,2019-05-01 23:13:58,5.11,5.14,10.74,5.52,5.89,231.74,232.72,233.72,...,1.35,AUTO,7326.616,7370.028,46.586,46.955,1615:11:25,790:33:2,22:17:2,9:7:48
3,SMR03-0219-0252,2019-05-01 22:57:49,5.12,5.16,10.73,5.53,5.90,232.01,233.22,234.14,...,1.36,AUTO,7325.238,7368.641,45.208,45.568,1614:55:17,790:16:54,22:0:54,8:51:40
4,SMR03-0219-0252,2019-05-01 22:42:12,5.17,5.22,10.79,5.55,5.92,233.17,234.27,235.16,...,1.37,AUTO,7323.899,7367.293,43.869,44.220,1614:39:41,790:1:18,21:45:18,8:36:4

In [5]:
data['Load Relay Status B'].value_counts()

DISCONNECTED    1455
CONNECTED       1222
Name: Load Relay Status B, dtype: int64

In [6]:
data['Load Relay Status R'].value_counts()

DISCONNECTED    1455
CONNECTED       1222
Name: Load Relay Status R, dtype: int64

In [7]:
data['Load Relay Status Y'].value_counts()

DISCONNECTED    1455
CONNECTED       1222
Name: Load Relay Status Y, dtype: int64

In [9]:
a = pd.DataFrame(data['Active Power kW'].loc[data['Load Relay Status B']=='CONNECTED'], columns=['active_power_kW'])

In [10]:
a[a['active_power_kW']==0.0]

Empty DataFrame
Columns: [active_power_kW]
Index: []

In [11]:
b = pd.DataFrame(data['Active Power kW'].loc[data['Load Relay Status R']=='CONNECTED'], columns=['active_power_kW'])
b[b['active_power_kW']==0.0]

Empty DataFrame
Columns: [active_power_kW]
Index: []

In [12]:
c = pd.DataFrame(data['Active Power kW'].loc[data['Load Relay Status Y']=='CONNECTED'], columns=['active_power_kW'])
c[c['active_power_kW']==0.0]

Empty DataFrame
Columns: [active_power_kW]
Index: []

In [15]:
d = pd.DataFrame(data['Active Power kW'].loc[data['Load Relay Status R']=='DISCONNECTED'], columns=['active_power_kW'])
d[d['active_power_kW']!=0]

Empty DataFrame
Columns: [active_power_kW]
Index: []